<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <description>Hospital Tades</description>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/hospital_tades</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>PacienteControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.PacienteControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicoControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.MedicoControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtendenteControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.AtendenteControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemedioControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.RemedioControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.UsuarioControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.ConsultaControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioControllerServlet</servlet-name>
        <servlet-class>senacpi.hospitaltades.dao.RelatorioControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PacienteControllerServlet</servlet-name>
        <url-pattern>/PacienteControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoControllerServlet</servlet-name>
        <url-pattern>/MedicoControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtendenteControllerServlet</servlet-name>
        <url-pattern>/AtendenteControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemedioControllerServlet</servlet-name>
        <url-pattern>/RemedioControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControllerServlet</servlet-name>
        <url-pattern>/UsuarioControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaControllerServlet</servlet-name>
        <url-pattern>/ConsultaControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioControllerServlet</servlet-name>
        <url-pattern>/RelatorioControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
